@model ShopThoiTrang.Models.ModelMenu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="cart">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <strong class="text-danger text-uppercase">Bạn Có Chắc Là Muốn Xóa Danh Mục??</strong>
            </div>
            <div class="col-6 float-right text-right">
                <a href="@Url.Action("Trash", "Menus")" class="btn btn-sm btn-info">Preview</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">Tên Danh Mục: </th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th scope="row">Đường Dẫn: </th>
                    <td>@Html.DisplayFor(model => model.Link)</td>
                </tr>
                <tr>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <th> <button type="submit" class="btn btn-danger btn-sm">Delete</button></th>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>