@model IEnumerable<ShopThoiTrang.Models.ModelTopic>
@{ var row = ViewBag.row_top;}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @row.Name
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var row_top in Model)
        {
            <a class="dropdown-item font-weight-bold" href="~/@row_top.Slug">@row_top.Name</a>
        }
    </div>
</li>
